body {
    padding: 0;
    margin: 0;
    background-image: url('./img/food.jpeg');
    background-size: 800px 600px; /* establece el tamaño de la imagen en 800x600 píxeles */
    background-size: 100% auto;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.box {
    position: absolute;
    width: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}


.header {
    background-image: url('./img/food.jpeg');
    background-size: cover;
    padding: 60px 10px;
    color: rgb(255, 255, 255);
    border-radius: 15px 15px 0 0;
    text-align: left;
}


.header p {
    font-size: x-small;
}

.login-area {
    text-align: center;
    padding: 20px 20px 25px 25px;
}

.email,
.password {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(252, 64, 64, 0.966);
    margin-bottom: 15px;
    transition: 5s;
}

.email::placeholder {
    color: rgba(255, 255, 255, .7);
}

.password,
.passwordr {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(252, 64, 64, 0.966);
    margin-bottom: 15px;
    transition: 5s;
}

.password::placeholder,
.passwordr::placeholder {
    color: rgba(255, 255, 255, .7);
}

.name,
.lasname,
.number,
.address{
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(252, 64, 64, 0.966);
    margin-bottom: 15px;
    transition: 5s;
}

.name::placeholder,
.lasname::placeholder,
.number::placeholder,
.address::placeholder{
    color: rgba(255, 255, 255, .7);
}

.submit {
    width: 190px;
    padding: 13px 0;
    background-color: rgba(248, 20, 20, 0.897);
    border-radius: 20px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    margin: 10px;
    transition: 2s;
    cursor: pointer;
}

.submit:hover {
    background-color: #1f0344;
}

.submit::placeholder {
    color: rgba(255, 255, 255, .7);
}


a {
    display: block;
    font-size: x-small;
    text-decoration: none;
    color: rgb(70, 7, 153);
    margin-top: 0px;
}


