<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fast Food</title>
    <link rel="stylesheet" href="/assets/Style/style1.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="overlay"></div>
    <form action="index.html" method="post" class="box">
      <div class="header">
        <h4>Kentakitos Hamburguer</h4>
        <p>
          Por favor revise su bandeja correos <br />para restablecer su
          contraseña
        </p>
      </div>
      <div class="login-area"></div>
    </form>
  </body>
</html>
