<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fast Food</title>
    <link rel="stylesheet" href="/assets/Style/style1.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="overlay"></div>
    <form action="/user/newPassword" method="post" class="box">
      <div class="header">
        <h3>Restablecer tu contraseña</h3>
        <h5>
          Por favor rellenar el siguiente <br />formulario para restablecer su
          <br />contraseña
        </h5>
      </div>
      <div class="login-area">
        <input
          type="email"
          name="correo"
          value="<%= correo %>"
          readonly
          class="email"
          placeholder="Correo"
        />
        <input
          type="password"
          name="contraseña"
          id="contraseña"
          class="password"
          placeholder="Contraseña"
        />
        <input
          type="password"
          name="contraseña2"
          id="contraseña2"
          type="passwordr"
          class="passwordr"
          placeholder="Confirmar Contraseña"
        />
        <input type="submit" value="Restablecer Contraseña" class="submit" />
      </div>
      <% if (typeof errors != 'undefined') { %>
      <script>
        var errorMessage = "<ul>";
        <% errors.forEach(error => { %>
          errorMessage += "<li><%= error.message %></li>";
        <% }) %>
        errorMessage += "</ul>";
        alert(errorMessage);
      </script>
      <% } %>
    </form>
  </body>
</html>
